<%! from django.core.urlresolvers import reverse %>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>Terms of Service</title></%block>

<section class="static-container tos">
<br/>
<div id="content" style="width:90%; padding:4px; margin:0 auto;">
<h1 class="title">Terms of Service for Online Courses</h1>
<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Terms of Use</h2>
<div class="outline-text-2" id="text-1">
<p>
Please read these Terms of Use carefully before accessing metastudio.org.
</p>
<p>
The courses.metastudio.org site is operated by a community of researchers and hosted by the gnowledge lab of Homi Bhabha Centre for Science Education, TIFR. Your access to courses.metastudio.org is subject to your agreement to these Terms of Use. By accessing courses.metastudio.org, you accept, without limitation or qualification, these Terms of Use.
</p>
</div>
</div>
<br/>
<br/>
<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Modification of the Agreement</h2>
<div class="outline-text-2" id="text-2">
<p>
We maintain the right to modify these Terms of Use and may do so by posting modifications on this page. Any modification is effective immediately upon posting the modification unless otherwise stated. Your continued use of courses.metastudio.org following the posting of any modification signifies your acceptance of that modification. You should regularly visit this page to review the current Terms of Use. Major changes will be intimated to all the registered users by email.
</p>
</div>
</div>
<br/>
<br/>
<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Eligibility, Registration, Access, and Termination</h2>
<div class="outline-text-2" id="text-3">
<p>
The courses.metastudio.org site is limited to non-commercial educational and research activities. Posting of spam messages or other commercial advertisements is a violation of these terms and may result in termination of your account.
</p>
<p>
Certain portions of courses.metastudio.org are limited to registered users and/or allow a user to participate in online services by entering personal information. You agree that any information provided to courses.metastudio.org in these areas will be complete and accurate, and that you will neither register under the name of nor attempt to enter courses.metastudio.org under the name of another person or entity.
</p>
<p>
You are responsible for maintaining the confidentiality of your user ID and password, if any, and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. courses.metastudio.org does not authorize use of your User ID by third-parties.
</p>
<p>
We may, in our sole discretion, terminate or suspend your access to and use of courses.metastudio.org without notice and for any reason, including for violation of these Terms of Use or for other conduct that we, in our sole discretion, believe to be unlawful or harmful to others. In the event of termination, you are no longer authorized to access courses.metastudio.org.
</p>
</div>
</div>
<br/>
<br/>
<div id="outline-container-4" class="outline-2">
<h2 id="honor">Honour Code</h2>
<div class="outline-text-2" id="text-4">
<p>
HONOUR CODE PLEDGE
<br/>
By enrolling in an courses.metastudio.org course, I agree that I will:
 
Complete all mid-terms and final exams with my own work and only my own work. I will not submit the work of any other person.
Maintain only one user account and not let anyone else use my username and/or password.
Not engage in any activity that would dishonestly improve my results, or improve or hurt the results of others.
Not post answers to problems that are being used to assess student performance.
Unless otherwise indicated by the instructor of an courses.metastudio.org course, learners on courses.metastudio.org are encouraged to:
 
Collaborate with others on the lecture videos, exercises, homework and labs.
Discuss with others general concepts and materials in each course.
Present ideas and written work to fellow courses.metastudio.org learners or others for comment or criticism.
</p>

<p>
CHANGING THE HONOUR CODE
<br/> 
Please note that we review and may make changes to this Honour Code from time to time.  Any changes to this Honour Code will be effective immediately upon posting on this page, with an updated effective date.  By accessing the Site after any changes have been made, you signify your agreement on a prospective basis to the modified Honour Code and any changes contained therein.  Be sure to return to this page periodically to ensure familiarity with the most current version of this Honour Code.
</p>

<br/>
<br/>

<div id="outline-container-4" class="outline-2">
<h2 id="copyright">Copyright</h2>
<div class="outline-text-2" id="text-4">
<p>

courses.metastudio.org is licensed under a <a title="http://creativecommons.org/licenses/by-sa/3.0/" href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.

<a title="http://creativecommons.org/licenses/by-sa/3.0/" href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license"><img src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" style="border-width:0" alt="Creative Commons License" title=""></a>

<br/>
<br/>
You are free to :
<br/>
Share - copy and redistribute the material in any medium or format
<br/>
Adapt - remix, transform, and build upon the material for any purpose, even commercially.
<br/>
The licensor cannot revoke these freedoms as long as you follow the license terms.
<br/><br/>
<b>Under the following terms :</b>
<br/>
Attribution - You must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.
<br/>
ShareAlike - If you remix, transform, or build upon the material, you must distribute your contributions under the same license as the original.
<br/>
No additional restrictions - You may not apply legal terms or technological measures that legally restrict others from doing anything the license permits.
<br/>
Notices:
You do not have to comply with the license for elements of the material in the public domain or where your use is permitted by an applicable exception or limitation.
<br/>
No warranties are given. The license may not give you all of the permissions necessary for your intended use. For example, other rights such as publicity, privacy, or moral rights may limit how you use the material.
 
</p>
<br/>
<br/>
<div id="outline-container-4" class="outline-2">
<h2 id="privacy">Privacy and Confidentiality</h2>
<div class="outline-text-2" id="text-4">
<p>
We respect your privacy. We will only use your personal identification information to support and manage your use of courses.metastudio.org, including the use of tracking cookies to facilitate courses.metastudio.org security procedures.  Usage of courses.metastudio.org is monitored and usage statistics are collected and reported on a regular basis. courses.metastudio.org also reserves the right to contact you to request additional information or to keep you updated on changes to courses.metastudio.org. You may opt out of receiving newsletters and other non-essential communications. No information that would identify you personally will be provided to sponsors or third parties without your permission.
</p>
<p>
All information posted or stored on courses.metastudio.org is potentially available to all other users of courses.metastudio.org. HBCSE and courses.metastudio.org disclaim any responsibility or capability for the preservation of confidentiality of such information. Do not post or store information on courses.metastudio.org if you expect to or are obligated to protect the confidentiality of that information.
</p>
</div>
</div>
<br/>
<br/>
<div id="outline-container-5" class="outline-2">
<h2 id="sec-5">Conduct</h2>
<div class="outline-text-2" id="text-5">
<p>
You are responsible at all times for using courses.metastudio.org in a manner that is legal, ethical, and not to the detriment of others. Quotas for disk storage, job submissions, and other limited resources are strictly enforced. You may request an increase in your quota, but attempting to circumvent your quota is unethical and may lead to a termination of your account. You agree to delete unused files and acknowledge that if you fail to do so, the files may be deleted for you. You agree that you will not:
</p>
<ul>
<li>Use email addresses obtained or accessed through courses.metastudio.org to transmit the same or substantially similar unsolicited message to multiple recipients without a valid purpose specifically related to the research and education mission of courses.metastudio.org;
</li>
<li>Use courses.metastudio.org to commit a criminal offense or to encourage others to conduct that would constitute a criminal offense or give rise to a civil liability;
</li>
<li>Violate any applicable law;
</li>
<li>Post or transmit any unlawful, threatening, libelous, harassing, defamatory, vulgar, obscene, pornographic, profane, or otherwise objectionable content;
</li>
<li>Use courses.metastudio.org to impersonate other parties or entities;
</li>
<li>Use courses.metastudio.org to upload any content that contains a software virus, "Trojan Horse" or any other computer code, files, or programs that may alter, damage, or interrupt the functionality of courses.metastudio.org or the hardware or software of any other person who accesses courses.metastudio.org;
</li>
<li>Upload, post, email, or otherwise transmit any materials that you do not have a right to transmit under any law or under a contractual relationship;
</li>
<li>Alter, damage, or delete any content posted on courses.metastudio.org;
</li>
<li>Disrupt the normal flow of communication in any way;
</li>
<li>Claim a relationship with or speak for any business, association, or other organization for which you are not authorized to claim such a relationship;
</li>
<li>Post or transmit any unsolicited advertising, promotional materials, or other forms of solicitation;
</li>
<li>Post any material that infringes or violates the intellectual property rights of another.
</li>
</ul>
</div>
</div>
<br/>
<br/>
<div id="outline-container-6" class="outline-2">
<h2 id="sec-6">Disclaimers</h2>
<div class="outline-text-2" id="text-6">
<p>
THE metastudio AND ANY INFORMATION, PRODUCTS OR SERVICES ON IT ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. HBCSE and courses.metastudio.org do not warrant, and hereby disclaim any warranties, either express or implied, with respect to the accuracy, adequacy or completeness of any good, service, or information obtained from courses.metastudio.org. HBCSE does not warrant that courses.metastudio.org will operate in an uninterrupted or error-free manner or that courses.metastudio.org is free of viruses or other harmful components. Use of courses.metastudio.org is at your own risk.
</p>
<p>
You agree that courses.metastudio.org and its administrator, HBCSE, shall have no liability for any consequential, indirect, punitive, special or incidental damages, whether foreseeable or unforeseeable (including, but not limited to, claims for defamation, errors, loss of data, or interruption in availability of data), arising out of or relating to your use of courses.metastudio.org or any resource that you access through courses.metastudio.org.
</p>
<p>
The courses.metastudio.org site hosts content from a number of authors. The statements and views of these authors are theirs alone, and do not reflect the stances or policies of HBCSE or their sponsors, nor does their posting imply the endorsement of HBCSE or their sponsors.
</p>
</div>
<br/>
<div id="outline-container-6-1" class="outline-3">
<h3 id="sec-6-1">Choice of Law/Forum Selection/Attorney Fees</h3>
<div class="outline-text-3" id="text-6-1">
<p>
You agree that any dispute arising out of or relating to courses.metastudio.org, whether based in contract, tort, statutory or other law, will be governed by the prevailing laws of the Government of India, excluding its conflicts of law provisions. You further consent to the personal jurisdiction of and exclusive venue in the central and state courts located in and serving the Government of India.,
</p></div>
</div>
</div>
</div>
</section>
